form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.inputwrapp {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    font-size: 16px;
    font-weight: 700;
    color: var(--accent-primary);
}

input {
    outline: none;
    max-width: 750px;
    border: 1px solid var(--grey);
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--dark-grey);
    transition: var(--transition);
}

input:hover, input:focus  {
    border: 1px solid var(--dark-grey);
}

.checkboxwrapp {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.checkboxlabel {
  color: var(--black);
  font-weight: 400;
  transition: var(--transition);
  display: flex;
  align-items: center;
}

.checkboxlabel:hover,
.checkboxlabel:focus {
  color: var(--accent-primary);
}

.checkbox {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  padding: 10px !important;
}

.checkbox:checked {
  background-color: var(--accent-primary);
}