.btnsort {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--accent-secondary);
    transition: var(--transition);
    border: 0.5px solid var(--accent-primary);
}

.icon {
    color: var(--accent-primary);
}

@media screen and (max-width: 501px) {
    .icon  {
        display: none;
    }
}

.btnsort:hover, .btnsort:focus  {
    background-color: var(--accent-primary);
    color: var(--white);
    box-shadow: var(--box-shadow);
}

.btnsort:hover .icon {
    color: var(--white);
}

.btnsort:focus .icon {
    color: var(--white);
}

.wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .wrapper  {
        font-size: 11.4px;
    }
    .btnsort {
        padding: 6px;
    }
}